# Python cache and bytecode
__pycache__/
*.py[cod]

# Python packaging artifacts
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
yorc-gui-extract/sampleData/
yorc-gui-extract/uv.lock

# Local tooling and OS noise
.DS_Store
.pytest_cache/
.ruff_cache/

#outputs from tests
yorc-gui-extract/experiments/auto_registration/outputs/